/* login.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('/images/login.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity here */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread elements horizontally */
    margin-bottom: 20px;
   
}

.input-container {
    width: calc(50% - 10px); /* Adjust the width of the input container */
}

.input-container input[type="email"],
.input-container input[type="password"] {
    padding: 10px;
    margin-bottom: 10px; /* Add space between inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}


.image-container {
    width: calc(50% - 10px); /* Adjust the width of the image container */
    text-align: center; /* Center the image */
}

.image-container img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}
button {
    background-color: rgb(0, 128, 192);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

a {
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}